/* ---------------------------------------------------
   Recreation in CSS of the stylesheet (default.style)
   included with Tim Berners-Lee's WorldWideWeb/
   Nexus.app 2.02 - for use with modern web pages.
   
         // SEE THE WEB AS TIMBL INTENDED IT! //
   
   Comments below indicate user options.
   
               v. 1.0 Alpha, tweedyflanigan, July 2021
   --------------------------------------------------- */


html {
	font-family: NeXT-Helvetica, Helvetica, sans-serif;
	background-color: white;
	line-height: 14pt;
	}

body {
	max-width: 610px;
	margin: 20px auto; /* << Change 'auto' to '0' if you want left-aligned pages */
	font-size: 12pt;
	text-align: left;
	border: none; /* << Change to e.g. '1px solid black' if you want a page margin */
	}

:is(h2, h3, h4, h5, h6) ~ p { /* This stylesheet requires text to be wrapped in <p> tags to format correctly */
	margin-bottom: 14px;
	margin-left: 90px;
	}

dl {
	margin: 0;
	padding: 0;
	margin-left: 90px;
	width: 85.25%;
	overflow: hidden;
	clear: both;
	}

dt {
	margin: 0;
	padding: 0;
	padding-right: 1.3%;
	margin-bottom: 14px;
	float: left;
	width: 40%;
	clear: left;
	}

dd {
	margin: 0;
	padding: 0;
	float: left;
	width: 58.7%;
	clear: right;
	}

/* Below is an ugly hack. If you want to use DTs to make a list
   without corresponding DDs (early HTML didn't recognize <BR>),
   this will let them take up the whole width. HOWEVER, for this
   to work for the first element, YOU MUST ADD AN EMPTY <DT> 
   BEFORE YOUR FIRST REAL LIST ITEM. Sorry. */
dt + dt {
	width: 100%;
	}

h1 {
	font-weight: bold;
	font-size: 18pt;
	line-height: 18pt;
	text-align: center;
	margin: 0 0 36px 0;
	}

h2 {
	font-weight: bold;
	font-size: 14pt;
	margin: 14px 0;
	}

h3 {
	font-weight: normal;
	font-style: italic;
	font-size: 14pt;
	margin: 14px 0 14px 10px;
	}

h4 {
	font-weight: bold;
	font-style: normal;
	font-size: 12pt;
	margin: 14px 0 14px 20px;
	}

h5 {
	font-weight: bold;
	font-style: italic;
	font-size: 12pt;
	margin: 14px 0 14px 30px;
	}

h6 {
	font-weight: bold;
	font-style: italic;
	font-size: 12pt;
	margin: 14px 0 14px 40px;
	}

ul {
	margin: 0 0 14px 100px;
	}

pre,xmp {
	font-family: Ohlfs, monospace;
	font-size: 10pt;
	margin:0;
	}

/* Deprecated elements defined in WorldWideWeb 
   --------------------------------------------------- */

menu {
	font-size: 11pt;
	margin: 0 0 0 80px;
	}

dir li { /* "elements are expected to be smaller and to be arranged in columns." */
	font-size: 11pt;
	margin-left: 80px;
	margin-right: 0px;
	display: inline-block;
	}

listing {
	font-family: Ohlfs, monospace;
	font-size: 9pt;
	margin: 0;
	}

/* Elements implicitly defined in WorldWideWeb
   --------------------------------------------------- */

hr {
	background: linear-gradient(to right, white, black, white);
	height: 15px;
	border: 0;
	margin: 1em 0 2em 90px;
	background-repeat: no-repeat;
	background-size: 90%;
	/* Comment out the following line if you want a modern gradient,
	   otherwise you'll get the HR image included with Nexus.app - YOU
	   MAY ALSO WANT TO REPLACE THE .TIFF WITH ANOTHER FORMAT FOR
	   BETTER BROWSER COMPATIBILITY */
	background-image: url('hrule_fade_8gray.tiff');
	}

address {
	font-style: italic;
	text-align: right;
	}

blockquote {
	margin: 14px 0 14px 120px;
	font-style: italic;
	}

a:link, a:visited, a:hover {
	color: blue;
	}

a:active {
	background-color: #AAA; /* Makes selected links highlighted in gray, as in WorldWideWeb */
	}

/* If you want NeXTStep-style retro fonts 
   --------------------------------------------------- */

@font-face {
	font-family: NeXT-Helvetica;
	src: url('CERN-www-regular.woff2');
}

@font-face {
	font-family: NeXT-Helvetica;
	src: url('CERN-www-regular-oblique.woff2');
	font-style: italic;
}

@font-face {
	font-family: NeXT-Helvetica;
	src: url('CERN-www-regular-bold.woff2');
	font-weight: bold;
}

@font-face {
	font-family: NeXT-Helvetica;
	src: url('CERN-www-regular-bold-oblique.woff2');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: NeXT-Helvetica-Bold-18;
	src: url('CERN-www-headline-bold.woff2');
	font-weight: bold;
}

@font-face {
	font-family: NeXT-Helvetica-Bold-14;
	src: url('CERN-www-bold-14.woff2');
	font-weight: bold;
}

@font-face {
	font-family: NeXT-Helvetica-Obl-16;
	src: url('CERN-www-oblique-16.woff2');
	font-style: italic;
}

@font-face {
	font-family: Ohlfs;
	src: url('CERN-www-mono.woff2');
}

h1 {
	font-family: Next-Helvetica-Bold-18;
	}

h2 {
	font-family: Next-Helvetica-Bold-14;
	}

h3 {
	font-family: Next-Helvetica-Obl-16;
	}


/* Start calculating based on % once smaller than 
   WorldWideWeb default window size (<= 610px)
   --------------------------------------------------- */

@media (max-width: 610px) {
	:is(h2, h3, h4, h5, h6) ~ p {
		margin-left: 14.75%;
		}

	dl {
		margin-left: 14.75%;
		}

	dd {
		margin-left: 32.8%;
		}

	h3 {
		margin-left: 1.6%;
		}

	h4 {
		margin-left: 3.3%;
		}

	h5 {
		margin-left: 4.9%;
		}

	h6 {
		margin-left: 6.6%;
		}

	hr {
		margin-left: 14.75%;
		}
}

/* Dark Mode if you want it!
   --------------------------------------------------- */

@media (prefers-color-scheme: dark) {
	html {
		background-color: #000;
		}
	body {
		color: #AAA;
		}
	a:link, a:visited, a:hover {
		color: #555;
		}
	a:active {
		background-color: #AAA;
		}
	hr {filter: invert(1);}
}

/* Additional user styles below this line 
   --------------------------------------------------- */

