/* -----------------------------------------------------------------------------
   Recreation in CSS of the stylesheet (default.style) included with 
   Tim Berners-Lee's WorldWideWeb/Nexus.app 2.02 for use with modern web pages.

                   // SEE THE WEB AS TIMBL INTENDED IT! //
   
                   v. 1.0 Alpha (rev 2), tweedyf, June 2022
----------------------------------------------------------------------------- */

html {
	font-family: NeXT-Helvetica, Helvetica, sans-serif;
	background-color: white;
	line-height: 14px;
	font-size: 12px;
	text-align: left;
	}

body {
	width: 415px;
	margin: 20px auto;
	padding-left: 90px;
	}

dl {
	overflow: hidden;
	clear: both;
	}

dt {
	margin: 0;
	margin-bottom: 14px;
	padding-right: 10px;
	float: left;
	width: 140px;
	clear: left;
	}

dd {
	margin: 0;
	margin-bottom: 14px;
	float: left;
	width: 259;
	clear: right;
	}

/* 
 * Below is an ugly hack. If you want to use DTs to make a list without 
 * corresponding DDs (a good strategy insofar as early HTML didn't recognize 
 * <BR>), this will let them take up the whole width. HOWEVER, for this to work 
 * for the first element, YOU MUST ADD AN EMPTY <DT> BEFORE YOUR FIRST REAL 
 * LIST ITEM. Sorry. (Please contact me if you know a better way!)
 */
dt + dt {
	width: 100%;
	}

h1 {
	font-weight: bold;
	font-size: 18px;
	line-height: 18px;
	text-align: center;
	margin: 0 0 36px 0;
	width: 505px;
	position: relative;
	left: -90px;
	}

/* see list of full-width elements/classes below */
header > h1, footer > h1, h1.fullwidth {
	position: static;
	}

h2 {
	font-weight: bold;
	font-size: 14px;
	margin: 14px 0;
	position: relative;
	left: -90px;
	}

h3 {
	font-weight: normal;
	font-style: italic;
	font-size: 14px;
	margin: 14px 0;
	position: relative;
	left: -80px;
	}

h4 {
	font-weight: bold;
	font-style: normal;
	font-size: 12px;
	margin: 14px 0;
	position: relative;
	left: -70px;
	}

h5 {
	font-weight: bold;
	font-style: italic;
	font-size: 12px;
	margin: 14px 0;
	position: relative;
	left: -60px;
	}

h6 {
	font-weight: bold;
	font-style: italic;
	font-size: 12px;
	margin: 14px 0;
	position: relative;
	left: -50px;
	}

ul, ol {
	margin: 0 0 0 14px;
	padding: 0;
	}

li {
	padding-left: 15px;
	padding-bottom: 14px;
	}

pre, xmp, listing {
	font-family: Ohlfs, monospace;
	font-size: 10px;
	margin: 0;
	width: 505px;
	position: relative;
	left: -90px;
	}

listing {
	font-size: 9px;
	}

/*
 * Early HTML was written with <P> as an empty element, so many first 
 * paragraphs on pages from this era cannot be styled as paragraph elements. 
 * Below is a hack to make sure that we get margins around those paragraphs. 
 */
*:not(h1,h2,h3,h4,h5,h6,dt,dd,li) {
	margin-top: 14px;
	}

/* Deprecated elements defined in WorldWideWeb 
----------------------------------------------------------------------------- */

menu, menu > li {
	font-size: 11px;
	padding: 0;
	}

menu > li {
	padding-bottom: 14px;
	}

/* "elements are expected to be smaller and to be arranged in columns." */
dir {
	font-size: 11px;
	padding: 0;
	margin-left: 30px;
	display: flex;
	}

dir li {
	display: inline-block;
	padding: 0;
	flex: auto;
	}

/* Elements implicitly defined in WorldWideWeb
----------------------------------------------------------------------------- */

hr {
	background: linear-gradient(to right, white, black, white);
	height: 15px;
	border: 0;
	margin: 0 2em;
	background-repeat: no-repeat;
	background-size: 90%;
	/* 
	 * Comment out the following line if you want a modern gradient,
	 * otherwise you'll get the HR image included with Nexus.app - 
	 * YOU MAY ALSO WANT TO REPLACE THE .TIFF WITH ANOTHER FORMAT FOR
	 * BETTER BROWSER COMPATIBILITY 
	 */
	background-image: url('hrule_fade_8gray.tiff');
	}

address {
	font-style: italic;
	text-align: right;
	}

blockquote {
	margin: 14px 0 14px 20px;
	font-style: italic;
	}

a:link, a:visited, a:hover {
	color: blue;
	}

a:active {
	background-color: #AAA;
	}

img, video {
	max-width: 100%;
	}

/*
 * In early versions of the browser, pages began full-width and only switched
 * to the 90px left margin after the first second-level header. Include any 
 * elements or classes here that you want to span the full page. 
 */
header, footer, .fullwidth {
	position: relative;
	left: -90px;
	width: 505px;
	}

/* If you want NeXTStep-style retro fonts 
----------------------------------------------------------------------------- */

@font-face {
	font-family: NeXT-Helvetica;
	src: url('CERN-www-regular.woff2');
	}

@font-face {
	font-family: NeXT-Helvetica;
	src: url('CERN-www-regular-oblique.woff2');
	font-style: italic;
	}

@font-face {
	font-family: NeXT-Helvetica;
	src: url('CERN-www-regular-bold.woff2');
	font-weight: bold;
	}

@font-face {
	font-family: NeXT-Helvetica;
	src: url('CERN-www-regular-bold-oblique.woff2');
	font-weight: bold;
	font-style: italic;
	}

@font-face {
	font-family: NeXT-Helvetica-Bold-18;
	src: url('CERN-www-headline-bold.woff2');
	font-weight: bold;
	}

@font-face {
	font-family: NeXT-Helvetica-Bold-14;
	src: url('CERN-www-bold-14.woff2');
	font-weight: bold;
	}

@font-face {
	font-family: NeXT-Helvetica-Obl-16;
	src: url('CERN-www-oblique-16.woff2');
	font-style: italic;
	}

@font-face {
	font-family: Ohlfs;
	src: url('CERN-www-mono.woff2');
	}

h1 {
	font-family: Next-Helvetica-Bold-18;
	}

h2 {
	font-family: Next-Helvetica-Bold-14;
	}

h3 {
	font-family: Next-Helvetica-Obl-16;
	}


/* Start calculating based on % once < WWW default window size (505px)
----------------------------------------------------------------------------- */

@media (max-width: 505) {
	body {
		width: 81.9%;
		text-align: left;
		padding-left: 17.8%;
		}

	header, footer, .fullwidth {
		left: -21.7%;
		width: 121.7%;
		}

	h1 {
		width: 121.7%;
		left: -21.7%;
		}

	h2 {
		width: 121.7%;
		left: -21.7%;
		}

	h3 {
		width: 119.3%;
		left: -19.3%;
		}

	h4 {
		width: 116.9%;
		left: -16.9%;
		}

	h5 {
		width: 114.5%;
		left: -14.5%;
		}

	h6 {
		width: 112.0%;
		left: -12.0%;
		}

	pre, xmp, listing {
		width: 121.7%;
		position: relative;
		left: -21.7%;
		}

	dt {
		width: 32%;
		padding-right: 5%;
		}

	dd {
		 width: 62%;
		}
}

/* Dark Mode if you want it!
----------------------------------------------------------------------------- */

@media (prefers-color-scheme: dark) {
	html {
		background-color: #000;
		}
	body {
		color: #AAA;
		}
	a:link, a:visited, a:hover {
		color: #555;
		}
	a:active {
		background-color: #AAA;
		}
	hr {filter: invert(1);}
}

/* Additional user styles below this line 
----------------------------------------------------------------------------- */
